.title {
    text-align: center;
    margin: 3% 0;
}

.card {
    margin: 3% auto;
}

.card-title {
    font-size: 30px;
    text-decoration: none;
    font-family: 'Roboto';
}

.form-body {
    margin: 1% 5%;
}

/* @media (min-width: 1023px) {
    .card-body {
        margin: 0 auto;
        width: 30%;
    }
} */